.account-balance {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .income {
    color: #008000;
  }

  .expense {
    color: #ff0000;
  }

  .tag {
    background-color: rgba(153, 244, 188, 0.562);
    border-radius: 100px;
    padding: 10px 20px;
  }